body {
  text-align: center;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.background {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  margin: 0;
  position: absolute;
  left: 0rem;
  top: 0rem;
  z-index: 0;
}

#greeting {
  position: relative;
  top: 5rem;
  color: antiquewhite;
  z-index: 1;
}

#quote {
  position: relative;
  top: 10rem;
  z-index: 1;
  color: antiquewhite;
}

#login-form {
  position: relative;
  top: 5rem;
  z-index: 1;
  border: none;
}

#login-form input {
  border: none;
  background-color: transparent;
  color: white;
  width: 11rem;
  height: 3rem;
  font-size: 1.2rem;
}

#login-form input:focus {
  outline: none;
  border-bottom: 2px solid wheat;
}

#login-form input::placeholder {
  text-align: left;
  font-size: 1.2rem;
}

#login-form button {
  width: 4rem;
  height: 3rem;
  margin-left: 1rem;
  border: 1px solid azure;
  border-radius: 0.6rem;
  color: aliceblue;
  background-color: transparent;
}

#clock {
  position: relative;
  top: 15rem;
  z-index: 1;
  color: antiquewhite;
}

#weather-container {
  color:antiquewhite;
  position: absolute;
  top: 1rem;
  z-index: 1;
  width: 20%;
  display: flex;
  justify-content: space-evenly;
}

#todo-form {
  position: relative;
  top: 17rem;
  z-index: 1;
}

#todo-list {
  position: relative;
  top: 18rem;
  color: aliceblue;
  z-index: 1;
}

ul {
  border: 1px solid wheat;
  width: 5rem;
  height: 100%;
  text-align: center;
}
