body {
  text-align: center;
  margin: 0 auto;
  font-family: 'Quicksand', sans-serif;
}

.hidden {
  display: none;
}

.background {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  margin: 0;
  position: absolute;
  left: 0rem;
  top: 0rem;
  z-index: 0;
}

#greeting {
  font-size: 4rem;
  position: relative;
  top: 5rem;
  color: antiquewhite;
  z-index: 1;
}

#quote {
  position: absolute;
  bottom: 0;
  z-index: 1;
  color: antiquewhite;
  width: 100%;
  padding: 0.8rem 0 0.8rem 0;
  font-size: 1.2rem;
  background-color: #9e9e9e29;
}

#login-form {
  position: relative;
  top: 5rem;
  z-index: 1;
  border: none;
}

#login-form input {
  border: none;
  background-color: transparent;
  color: white;
  width: 11rem;
  height: 3rem;
  font-size: 1.2rem;
  font-family: 'Quicksand', sans-serif;
}

#login-form input:focus {
  outline: none;
  border-bottom: 2px solid wheat;
}

#login-form input::placeholder {
  text-align: left;
  font-size: 1.2rem;
}

#login-form button {
  width: 4rem;
  height: 3rem;
  margin-left: 1rem;
  border: 1px solid azure;
  border-radius: 0.6rem;
  color: aliceblue;
  background-color: transparent;
}

#clock {
  position: relative;
  top: 15rem;
  z-index: 1;
  color: antiquewhite;
}

#weather-container {
  color:antiquewhite;
  position: absolute;
  top: 1rem;
  z-index: 1;
  width: 20%;
  display: flex;
  justify-content: space-evenly;
}

#todo-form {
  position: absolute;
  top: 10rem;
  right: 3rem;
  z-index: 1;
  /* border: 1px solid white; */
  width: 14rem;
  height: 2rem;
  font-family: 'Quicksand', sans-serif;
}

#todo-form input {
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  font-family: 'Quicksand', sans-serif;
}

#todo-form input::placeholder {
  font-size: 1rem;
  color: white;
}

#todo-form input:focus {
  border-bottom: 1px solid wheat;
}

#todo-list {
  position: absolute;
  top: 12rem;
  right: 3rem;
  color: aliceblue;
  z-index: 1;
  height: auto;
  padding-bottom: 1rem;
  width: 12rem;
}

ul {
  border: 1px solid wheat;
  width: 5rem;
  height: 100%;
  text-align: center;
}
